{% extends 'bases/access_page.html.twig' %}

{% block title%}
Login
{% endblock %}


{% block alert %}
    {% if error %}
            <div id="errorsBox">
                <div id="closeErrorsBtn">x</div>
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
    {% endif %}
{% endblock %}

{% block content %}

<form method="post">
    <div class="column centered">
    

    {% if app.user %}
        <div class="row">
            You are logged in as {{ app.user.userIdentifier }},
        </div>

        <a class="aButton" href="/home">Home</a>
        <a class="aButton bg-red" href="/access/logout">Log out</a>

    {% else %}
    <div class="column">
        <label for="inputUsername">Username</label>
        <div class="row">
            <label for="inputUsername">
                <img class="small-img" src="{{asset('/build/images/user-regular.246ab86a.png')}}">
            </label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-[30rem]" autocomplete="username" required autofocus>
        </div>
        </div>
        
        <div class="column">
            <label for="inputPassword">Password</label>
                <div class="row">
            <label for="inputPassword">
                <img class="small-img" src="{{asset('/build/images/key-solid.792a57bf.png')}}">
            </label>
                <input type="password" name="password" id="inputPassword" class="form-control w-[30rem]" autocomplete="current-password" required>
            </div>
        
        </div>
        
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
    
        <div class="column">
            <label for="_remember_me" style="text-align: center;">
                Remember me
            </label>
            <input type="checkbox" name="_remember_me"> 
            
        </div>
    
        <button class="aButton py-2 my-10" type="submit">
            Login
        </button>
    </div>
    </form>
    <div class="row">
        <div id="login" class="aButton rounded-none rounded-l-xl shadow-none">
            Login
        </div>
    <a href="/signup" class="aButton opacity-50 rounded-none rounded-r-xl " >
            Sign up
    </a>
    {% endif %}
    


{% endblock %}
