{% extends 'bases/access_page.html.twig' %}

{% form_theme registrationForm "form/registration_form_theme.html.twig" %}

{% block title%}
Sign up
{% endblock %}

{% block alert %} 
}
    {% if errorsList | length %}
        <div id="errorsBox">
            <div id="closeErrorsBtn">
                x
            </div>
            {% for error in errorsList %}
                <div>
                    - {{ error.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    

    {{ form_start(registrationForm) }}
    <div class="centered column">
    <div class="column lg:w-[30rem] w-full">
        <label>Email</label>
        <div class="row">
            <img class="small-img" src="{{asset('/build/images/envelope-regular.8640d6ad.png')}}">
            {{ form_widget(registrationForm.email) }}
        </div>
    </div>
    <div class="column lg:w-[30rem] w-full">
        <label for="username">Username</label>
        <div class="row">
            <img class="small-img" src="{{asset('/build/images/user-regular.246ab86a.png')}}">
            {{ form_widget(registrationForm.username) }}
        </div>
    </div>
    <div class="grid md:grid-cols-2 grid-cols-1 gap-x-5">
        <div class="column w-[14rem]">
            <label>Password</label>
            <div class="row">
                <img class="small-img" id="passwordImage" src="{{asset('/build/images/key-solid.792a57bf.png')}}">
                {{ form_widget(registrationForm.password.first) }}
            </div>
        </div>
    
        <div class="column  w-[14rem]">
            <label> Confirm password</label>
            <div class="row">
                <img class="small-img" src="{{asset('/build/images/key-solid.792a57bf.png')}}">
                {{ form_widget(registrationForm.password.second) }}
            </div>
        </div>
    </div>
    <button type="submit" class="aButton py-2 lg:my-10 my-2">Register</button>
    {{ form_end(registrationForm) }}

    <div class="row">
        <a href="/login" class="aButton opacity-50  rounded-none rounded-l-xl">
            Sign in
        </a>
    <div class="aButton rounded-none rounded-r-xl opacity-100">
            Sign up
    </div>
</div>

{% endblock %}


