{% extends 'bases/page_frame.html.twig' %}

{% form_theme form "form/registration_form_theme.html.twig" %}


{% block title %}
    Nike Air Force Limited edition
{% endblock %}


{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('product_form_page') }}
{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('products') }}
{% endblock %}

{% block content %}
    {% if errorsList | length %}
    <div id="errorsBox">
        <div id="closeErrorsBtn">
            x
        </div>
        {% for error in errorsList %}
        <div>- {{error.message}}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="column size-full lg:p-5 p-2 lg:h-[100vh] overflow-y-hidden h-fit">
        <div id="carouselPreviews" class="slider std-container row centered w-full h-[43vh] mb-5 ">

        </div>
        {{form_start(form)}}
        
        <div class="row  w-full flex-wrap-reverse lg:h-[50vh] h-fit lg:mt-0 gap-7">
            <div class="column std-container lg:w-fit h-full w-full mx-auto" >
                <div class="row flex-wrap ">
                    {% if product is not defined %}
                        {{form_widget(form.mainImage)}}
                        <label for="product_form_mainImage" class="p-0 size-fit mr-5 mb-5">
                            <div id="mainImagePreview"  class="bg-cover bg-center bg-no-repeat rounded-2xl lg:size-[20vh] size-[10vh] left-0 relative" style=" background-image: {{asset(field_value(form.mainImage))}}" >
            
                                <div class="std-container absolute bottom-0 opacity-0 transition-opacity">Modify the main image diplayed</div>
                            </div>
                      
                        </label>
                    {% else %}
                        <div class="bg-cover bg-center bg-no-repeat rounded-2xl lg:size-[20vh] size-[10vh] left-0 relative mr-5 mb-10" style="background-image: url({{asset( product.mainImage )}});"></div>
                    {% endif %}

                    <div class="column">
                        <div class="relative">
                        {{form_widget(form.model)}}
                        {{form_label(form.model)}}
                        </div>
                    
                        <div class="relative" class="row">
                            <div class="row priceContainer mb-5 w-3/5 p-2">
                                {{form_widget(form.price)}}
                                {{form_label(form.price)}}
                            </div>
                        </div>

                    </div> 
                    <div class="column lg:w-fit w-full">
                        <button type="submit" class="aButton w-full p-2 mb-5">Save</button>
                        <a class="aButton bg-red p-2 w-full" href="/user/{{app.user.userIdentifier}}">Cancel</a>
                    </div>
                </div>

                <div class="column relative lg:mt-0 mt-10" >
                    {{form_widget(form.description)}}
                    {{form_label(form.description)}}
                </div>
            </div>

            <div class="flex lg:flex-row flex-col std-container lg:w-[40%] w-full h-full lg:justify-normal justify-center items-center overflow-y-hidden mx-auto">
                <div class="column flex-wrap h-full gap-4 w-full">
                    <div class="reverseColumn">
                        {{form_widget(form.color)}}
                        <label>Shoe color</label>
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.material)}}
                        <label>
                            Shoe material
                        </label>
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.brand)}}
                        <label>
                            Shoe Brand
                        </label>
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.type)}}
                        <label>
                            Shoe Type
                        </label>
                    </div>   
                    <div class="reverseColumn">
                        {{form_widget(form.gender)}}
                        <label>
                            Gender
                        </label>
                    </div>        
                    
                    <div class="column">
                        <label>
                            Kids shoe
                        </label>
                        {{form_widget(form.forKids)}}
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.quantity)}}
                        <label>
                            Quantity
                        </label>
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.size)}}
                    </div>
            </div>
            <div class="ml-10 column">
                {% if form.otherImages is defined%}
                <label for="product_form_otherImages">
                    Other images
                    <div id="otherImagesUploadButton" class="bg-cover bg-center bg-no-repeat h-[40vh] xl:w-[30vh] lg:w-[10vw] w-[30vh] rounded-md" style="background-image: url({{asset('/build/images/file-arrow-up-solid.bca87184.png')}});" ></div>
                </label>
                {{form_widget(form.otherImages)}}
                {% endif %}
                

            </div>

            </div>
        </div>
        {{form_end(form)}}
        {% if product is defined %}
    <div class="hidden absolute">
        <div id="hiddenOtherImages">
            {% for img in product.otherImages %}
            <div>
                {{img}}
            </div>
            {% endfor %}
        </div>
        <div id="itmesSoldAtEditTime">
            {{product.itemsSold}}
        </div>
    </div>
    {% else %}
    <div id="hiddenOtherImages" class="hidden absolute"></div>
    {% endif %}
    </div>
{% endblock %}