
{% for product in products %}

    <div class="productCard" 
    style="
    background-image: url({{asset(product.mainImage)}});"
    >
        <div class=" productPriceFast">
            €{{product.price}}
        </div>

        <div class="productInfo column">
            <a href="/product/{{product.id}}" >
                <h1 >{{product.model}}</h1>
                <p style="font-size: small;height: 12vh;"> {{product.description}}</p>
            </a>

            <a style="font-size: 1.5vh;margin-top: 1vh;text-decoration: underline;" href="/user/{{product.sellerusername.username}}">{{product.sellerusername.username}}</a>
            
        </div>
    </div>
{% endfor %}
{% if not hasMore %}
<div id="end-message" class="end-message">No more products available.</div>
{% endif %}

