{% extends 'bases/page_frame.html.twig' %}

{% block title %}
    Nike Air Force Limited edition
{% endblock %}


{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('product_view_page') }}
{% endblock %}


{% block style %}
<style>
    .mainImage{
        width: 20vh;
        height: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px ;
    }

    .slideShowContainer{
        height: 40vh;
        margin-top: 0vh;
        margin-bottom: 1.5vh;
        width: 90vw;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(20px);
        border-radius: 20px;

    }

    .slideShowContainer>img{
        height: 5vh;
        width: 5vh;
    }

    .slideShowContainer2>:last-child{
        margin-right: 0vw;
    }

    .slideShowContainer2{
        width: 80vw;
        margin-left: 1vw;
        margin-right: 1vw;

    }
    .previewImages{
        background-color: rgba(255,255,255,0.5);
        border-radius: 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
        height: 38vh;
        width: 100vh;
        margin-right: 2vw;
    }

    .container{
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(35px);
        border-radius: 20px;
        padding: 2vh;
        height: 50vh;
    }

    .container>.row>.column{
        margin-left: 1vw;
        height: 20vh;
        font-size: large;
    }


    #model{
        font-size:1vw;
        margin-bottom: 3vh;
        margin-top: 3vh;
        width: 18vw;
        display: block;
    }

    .container>.row>.column>.row{
        background-color: rgba(255,255,255,0.5);
        width: fit-content;
        padding: 0.5vh 1vh;
        border-radius: 100px;
    }

    #description{
        height: 23vh;
        overflow-y: scroll;
        padding-right: 1vh;
        
    }

    #vendor{
        text-decoration: underline;
        margin-top: 2vh;
    }

    .aButton{
        margin-top: 1vh;
    }

    .column.container.center{
        width: 20vw;
        background-color: white;
    }
    
    form label,select,input{
        margin:1vh 0vh;
        font-size: larger;
        background-color: white;
        
    }

    .column.container.center>h1{
        font-size: 5vh;
        margin-bottom: 2vh;
    }

    form input,select{
        border: none;
        outline: none;
        border-bottom: 1px solid black;
    }

    .column.container.center>button{
        margin-top: 1vh;
    }
    
    

    select{
        margin-right: 0.5vw;
    }

    #payment_cvc{
        width: 4.5vw;
    }
</style>
{% endblock %}

{% block alerts %}

    {% if (product.quantity - product.itemsSold)>0 %}
    {% if form.cardNumber.vars.errors | length %}
    <div id="errorsAlert" class="column">
        <div id="closeErrors">
            x
        </div>
        {% for error in form.cardNumber.vars.errors %}
            <div class="error">{{ error.message }}</div>
        {% endfor %}
    </div>
{% endif %}
        {{form_start(form)}}
            <div class="column container center" >
                <h1>Payment</h1>
                    <div class="reverseColumn">
                        {{ form_widget(form.ccOwner) }}
                        <label>Credit card owner</label>
                    </div>
                <div class="reverseColumn">
                    {{ form_widget(form.addressCountry) }}
                    <label>Country</label>
                </div>
                <div class="reverseColumn">
                    {{ form_widget(form.addressCity) }}
                    <label>City</label>
                </div>
                <div class="reverseColumn">
                    {{ form_widget(form.addressPostal) }}
                    <label>Postal address</label>
                </div>
                    <div class="reverseColumn">
                        {{ form_widget(form.cardNumber) }}
                        <label>Cardnumber</label>
                    </div>
                    <div class="reverseColumn">
                    <div class="row">
                        {{form_widget(form.expMonth)}}
                        {{form_widget(form.expYear)}}
                    </div>
                    <label>Expiration Date</label>
                    </div>

                    <div class="reverseColumn">
                        {{ form_widget(form.cvc) }}
                        <label for="payment_cvc">CVC/CVV</label>
                    </div>

                    <button type="submit" style="width: 9vw;">Buy the article</button>   
                
                
                    <div class="column">
                        
                    </div>
            </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}


{% block content %}
    <div class="column" style="padding-left: 2vw; padding-top: 2vh;">
            <div class="slideShowContainer row center">
                <img id="goBack" src="{{asset('/build/images/circle-chevron-left-solid.a5e7fe27.png')}}">
                <div class="slideShowContainer2 row" id="otherImagesPreview">

                </div>
            <img  id="goForward" src="{{asset('/build/images/circle-chevron-left-solid.a5e7fe27.png')}}" style="transform: rotate(180deg);">
            
            <div style="display: none;" id="otherImagesList">
                {% for image in product.otherImages %}
                <div class="previewImages" style="background-image: url({{asset(image)}});">
                </div>
                {% endfor %}
            </div>
        </div>

    

        <div class="row">
            <div class="column container" style="width: 40vw; margin-right: 2vw;" >
                <div class="row" style="margin-bottom: 2vh;">
                    <div class="mainImage" style="background-image: url({{asset( product.mainImage )}});"></div>
                    <div class="column">
                        <div id="model">
                            {{product.model}}
                        </div>
                        <div class="row">
                            <div id="price">
                                {{product.price}}
                            </div>
                            <div id="currency">
                                €
                            </div>
                        </div>
                    </div> 
                    <div class="column">
                        <a class="aButton" id="buyButton1"> Buy now</a>
                    </div>
                </div>

                <div class="column">
                    <div id="description">
                        {{product.description}}
                    </div>
                    <a href="/user/{{product.sellerusername.username}}"id="vendor">
                        {{product.sellerusername.username}}
                    </a>
                </div>
            </div>

            <div class="column container" style="width: 44vw;">

            </div>
        </div>
    </div>
{% endblock %}