{% extends 'bases/page_frame.html.twig' %}

{% block title %}
    {{product.model}}
{% endblock %}


{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('products') }}
{% endblock %}

{% block alerts %}


{% if form is defined %}

{% if errorsList | length %}
<div id="errorsBox">
    <div id="closeErrorsBtn">
        x
    </div>
    {% for error in errorsList %}
        <div>
            - {{ error.message }}
        </div>
    {% endfor %}
</div>
{% endif %}

        {{form_start(form)}}
            <div id="paymentForm" class="column std-container bg-white items-center text-center" >
                <h1 class="text-3xl font-semibold mb-5">Payment</h1>
                <div class="reverseColumn mb-7 w-full items-center">
                    {{ form_widget(form.addressCountry) }}
                    {{ form_label(form.addressCountry) }}
                </div>
                <div class="reverseColumn mb-7 w-full items-center">
                    {{ form_widget(form.addressCity) }}
                    {{ form_label(form.addressCity) }}
                    
                </div>
                <div class="reverseColumn mb-7 w-full items-center">
                    {{ form_widget(form.addressPostal) }}
                    {{ form_label(form.addressPostal) }}
                </div>
                <button id="buyButton2" class="aButton" type="submit">Buy the article</button>

            </div>
        {{ form_end(form) }}

{% endif %}

{% endblock %}


{% block content %}
    <div class="column size-full lg:p-5 p-2 lg:h-[100vh] overflow-y-hidden h-fit">
            <div id="carouselPreviews" class="slider std-container row centered w-full h-[43vh] mb-5">
                
            </div>
        <div class="row  w-full flex-wrap lg:h-[50vh] h-fit lg:mt-0 gap-7">
            <div class="column std-container lg:w-5/12 h-full w-full mx-auto" >
                <div class="row flex-wrap">
                    <div class="bg-cover bg-center bg-no-repeat rounded-2xl lg:size-[20vh] size-[10vh] left-0 relative mr-5 mb-10" style="background-image: url({{asset( product.mainImage )}});"></div>
                    <div class="column">
                        <div class="w-72 text-lg my-7 pr-4">
                            {{product.model}}
                        </div>
                        <div class="row priceContainer text-sm">
                            <div id="currency">
                                €
                            </div>
                            <div id="price">
                                {{product.price}}
                            </div>
                        </div>
                    </div> 
                    <div class="column lg:w-fit w-full my-7 gap-5">
                        {% if form is defined %}
                        <a class="aButton w-full p-2" id="buyButton1"> Buy now</a>
                        {% elseif app.user == product.vendor %}
                                <a class="aButton h-fit w-24" href="/editproduct/{{product.id}}">Edit</a>
                        {% else %}
                            <a class="aButton w-full p-2 bg-grey">Out of stock</a>
                        {% endif %}

                        {% if canReview>0 %}
                            <a href="/writeReview/{{product.id}}" class="aButton w-full p-2 ">
                                {% if canReview > 1 %}
                                    Edit a review
                                {% else %}
                                    Write a review
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                </div>

                    <div class="column relative lg:mt-0 mt-10 h-full overflow-y-scroll">
                        {{product.description}}
                    </div>
                    <a href="/user/{{product.vendor.username}}" class="underline pt-3" id="vendor">
                        {{product.vendor.username}}
                    </a>
            </div>

            <div class="column lg:w-2/5 w-full">
                {% include 'components/carousel_component.html.twig' with {
                    width: 'w-full',
                    title: 'Similar',
                    type: 'Similar',
                    link: 'similar/' ~ product.id
                } %}
            </div>

            <div class="hidden">
                <div id="product_id">{{product.id}}</div>
            </div>
        </div>
    </div>

        <div id="hiddenOtherImages" class="hidden absolute">
            {% for img in product.otherImages%}
            <div>
                {{img}}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}