{% extends 'pageFrame.html.twig' %}

{% block title %}
    Nike Air Force Limited edition
{% endblock %}

{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('productCreation') }}
{% endblock %}



{% block style %}
<style>

::placeholder {
    opacity: 0;
}


.mainImage{
        width: 20vh;
        height: 20vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 12px ;
}

.slideShowContainer {
    height: 40vh;
    margin-top: 0vh;
    margin-bottom: 1.5vh;
    width: 90vw;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.slideShowContainer>img {
    height: 5vh;
    width: 5vh;
    opacity: 50%;
}

.slideShowContainer>img:last-child {
    rotate: 180deg;
}

#slideShowContainer2 {
    width: 80vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

#slideShowContainer2>:last-child {
    margin-right: 0vw;
}

.previewImages {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 38vh;
    width: 50vh;
    margin-right: 2vw;
}

.container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(35px);
    border-radius: 20px;
    padding: 2vh;
    height: 50vh;
}

.errorContainer{
    padding: 0.5vh 1vw;
    background-color: rgba(255, 110, 0, 0.5);
    backdrop-filter: blur(0px);
    margin-top: 1vh;
    font-size: small;
    height: 3.5vh;
    margin-top: 0;
    text-decoration: none;
    border-radius: 120px;
    margin-left: 0.5vw

}

.errorContainer>ul{
    list-style: none;
}


.container>.row>.column {
    margin-left: 1vw;
    height: 20vh;
    font-size: large;
}

#product_form_price::-webkit-outer-spin-button,
#product_form_price::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#product_form_price {
    -moz-appearance: textfield;
}

input, textarea, select {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    transition: all .3s ease;
    padding: 0.2vh 0.5vw;
    resize: none;
    transition: all .3s ease;
}

input[type=checkbox]{
    width: 4vw;
    margin-bottom: 2vh;
}

#product_form_mainImage,#product_form_otherImages {
    position:absolute;
    opacity: 0;
}

label {
    cursor: text;
    z-index: 2;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.5);
    transition: all .3s ease;
}


label[for=product_form_otherImages]{
    margin-left: 15vh;
    margin-top: 1vh;
    text-align: center;
    color: black;
}
#otherImagesUploadButton{
    width: 40vh;
    height: 40vh;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 1vh;

    background-image: url(/build/Images/file-arrow-up-solid.bca87184.png);
}

label[for=product_form_mainImage],label[for=product_form_otherImages]{
    cursor: pointer;
}

label[for=product_form_mainImage]>div {
    width: 20vh;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}


label[for=product_form_mainImage]>.container {
    height: 4vh;
    width: 18vh;
    position: absolute;
    top: 15vh;
    font-size: 0.8vw;
    padding: 0.5vh 1vh;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 12px 12px;
    color: black;
    border-radius: 0px;
    opacity: 0;
    backdrop-filter: blur(10px);
}

label[for=product_form_mainImage]:hover>.container {
    opacity: 1;
}

#product_form_description {
    height: 23vh;
    overflow-y: scroll;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-right: none;
    border-radius: 8px;
    padding: 1vh 1vw;
    font-size: 0.8vw;
}

#product_form_model {
    font-size: 1vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 16vw;
}

#product_form_model:focus,#product_form_quantity:focus,select:focus {
    border-bottom: 1px solid var(--higlight-color);
}

#product_form_model:focus + label, #product_form_model:not(:placeholder-shown) + label {
    font-size: 0.8vw;
    top: 0.7vh;
}

select,#product_form_model,#product_form_quantity{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

select,#product_form_quantity{
    margin-bottom: 2vh;
    width: 7vw;

}


#product_form_colors{
    border-radius: 120px;
    background-color: white;
}



input:focus + label, select:focus + label {
    color: var(--higlight-color);
}

label[for=product_form_price],label[for=product_form_description],label[for=product_form_model]{
    position: absolute;
    top: 3vh;
    left: 1vw;
    padding: 0 0.5vw;
}
label[for=product_form_price], label[for=product_form_description] {
    top: 0.3vh;
}

label[for=product_form_price] {
    color: black;
    font-size: smaller;
}

#product_form_price:focus + label, #product_form_price:not(:placeholder-shown) + label,
#product_form_description:focus + label, #product_form_description:not(:placeholder-shown) + label {
    top: -2vh;
    color: var(--higlight-color);
}

#product_form_price:not(:focus):not(:placeholder-shown) + label, #product_form_description:not(:focus):not(:placeholder-shown) + label {
    color: rgba(255, 255, 255, 0.5);
}

#product_form_description:focus{
    border-color: var(--higlight-color)
}

#vendor {
    text-decoration: underline;
    margin-top: 2vh;
}

.aButton {
    margin-top: 1vh;
}

.container>.row>.column>div>.row {
    margin-left: -1vh;
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    height: 2vh;
    padding: 0.5vh 1vw;
    border-radius: 100px;
}





</style>
{% endblock %}

{% block content %}
    <div class="column" style="padding-left: 2vw; padding-top: 2vh;">
            <div class="slideShowContainer row center">

                <img src="{{asset('/build/Images/circle-chevron-left-solid.a5e7fe27.png')}}" id="goBack">
                <div class="row" id="slideShowContainer2">

                    
                </div>
                <img src="{{asset('/build/Images/circle-chevron-left-solid.a5e7fe27.png')}}"  id="goForward">
            </div>
        {{form_start(form)}}
        
        <div class="row">
            <div class="column container" style="width: 40vw; margin-right: 2vw;" >
                <div class="row" style="margin-bottom: 2vh;">
                    {% if product is not defined %}
                        {{form_widget(form.mainImage)}}
                        <label for="product_form_mainImage" style="position: relative;">
                            <div id="mainImagePreview" style=" background-image: {{asset(field_value(form.mainImage))}}" ></div>
                            <div class="container">
                                Modify the main image diplayed
                            </div>
                        </label>
                    {% else %}
                        <div class="mainImage" style="background-image: url({{asset( product.mainImage )}});"></div>
                    {% endif %}

                    <div class="column" style="width: 20vw;">
                    <div style="position: relative;">
                    {{form_widget(form.model)}}
                    <label for="product_form_model" >Product model</label>
                    </div>
                    
                        <div style="position: relative;" class="row">
                        <div class="row" style="width: 5vw;">
                        {{form_widget(form.price)}}
                        <label for="product_form_price">
                            Price
                        </label>
                        </div>
                        {% if form_errors(form.price)%}
                        <div class="errorContainer">
                            <p>{{form_errors(form.price)}}</p>
                        </div>
                        {% endif %}
                        </div>

                        {% if form.mainImage is defined and form_errors(form.mainImage) %}
                        <div class="errorContainer">
                        <p>{{form_errors(form.mainImage)}}</p>
                        </div>
                        {% endif %}

                    </div> 
                    <div class="column">
                        <button type="submit" style="width: 9vw;">Save</button>
                        <a class="aButton" href="/user/{{app.user.userIdentifier}}" style="background-color:red;">Cancel</a>
                    </div>
                </div>

                <div class="column" style="position: relative;">
                    {{form_widget(form.description)}}
                    <label for="product_form_description">Description
                        
                    </label>
                </div>
            </div>

            <div class="row container" style="width: 44vw;">
                <div class="column">
                    <div class="reverseColumn">
                        {{form_widget(form.colors)}}
                        <label>Main shoe color</label>
                    </div>
                        <div class="reverseColumn">
                        {{form_widget(form.materials)}}
                        <label>
                            Main shoe material
                        </label>
                    </div>
                <div class="reverseColumn">
                    {{form_widget(form.brand)}}
                    <label>
                        Shoe Brand
                    </label>
                </div>
                <div class="reverseColumn">
                    {{form_widget(form.type)}}
                    <label>
                        Shoe Type
                    </label>
                </div>   
                <div class="reverseColumn">
                    {{form_widget(form.gender)}}
                    <label>
                        Gender
                    </label>
                </div>        
                
                <div class="column">
                    <label>
                        Kids shoe
                    </label>
                    {{form_widget(form.forKids)}}
                </div>
                <div class="reverseColumn">
                    {{form_widget(form.quantity)}}
                    <label>
                        Quantity
                    </label>
                </div>
            </div>
            <div class="column">
                {% if form.otherImages is defined%}
                <label for="product_form_otherImages" style="position: relative;">
                    Other images
                    <div id="otherImagesUploadButton" ></div>
                </label>
                {{form_widget(form.otherImages)}}
                {% endif %}
                

            </div>

            </div>
        </div>
        {{form_end(form)}}
        {% if product is defined %}
    <div style="display: none;">
        <div id="hiddenOtherImages">
            {% for img in product.otherImages %}
                {{ img }}
            {% endfor %}
        </div>
        <div id="itmesSoldAtEditTime">
            {{product.itemsSold}}
        </div>
    </div>
    {% endif %}
    </div>
{% endblock %}