{% extends 'base.html.twig' %}

{% block title %}
    FS
{% endblock %}

{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('frame') }}
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('frame') }}
{% endblock %}




{% block body %}
<div id="searchContainer">
    <img src="{{ asset('build/Images/circle-chevron-left-solid.a5e7fe27.png')}}" style="height: 10vh;width: 10vh; position: absolute; top: 0; left: 0; margin-top: 2vh; margin-left: 10vw;" class="buttonForSearch">
    {% block alerts %}

    {% endblock %}
    <div class="row" id="searchBarContainer" > 
        <div>
            <input id="filterMenuCheckbox" type="checkbox" style="opacity: 0;position: absolute;">
            <label for="filterMenuCheckbox">
                <img src="{{ asset('/build/Images/filter-solid.8f86f99e.png')}}"></label>
            
        </div>
        <input type="text">
        <div>
            <img src="{{ asset('/build/Images/magnifying-glass-solid.2b32bcc1.png')}}">
        </div>
    </div>
    <div id="filterMenu">
        <div class="column">
            Gender
            <label>
                <input type="checkbox" id="maleCheckbox">Male
            </label>
            <label>
                <input type="checkbox" id="femaleCheckbox">Female
            </label>
            <label>
                <input type="checkbox" id="femaleCheckbox">Unisex
            </label>
        </div>

        <div class="column">
            Age
            <label>
                <input type="checkbox" id="maleCheckbox">Kid
            </label>
            <label>
                <input type="checkbox" id="femaleCheckbox">Adult
            </label>
        </div>


    </div>
</div>
<div class="row background" style="background-image:url({{asset('/build/Images/background.ab9f0388.png')}}) ;">
    <div class="sidebar">
        <div class="column" id="top">
            <div>
                <input id="searchContainerCheckbox" type="checkbox" style="opacity: 0;position: absolute;">
                    <img src="{{ asset('/build/Images/magnifying-glass-solid.2b32bcc1.png')}}" class="buttonForSearch">
                
            </div>
        </div>
        <div class="column">
            <a href="/home">Home</a>
            <a href="fyp">For you</a>
            <a href="popular">Popular</a>
        </div>
        
        <div class="column" id="bottom">
            <a>About</a>
            <a>Support</a>
            <a>Copyright</a>
            {% if app.user %}
            <a id="userImage" class="userImage" style="background-image: url({{ asset('build/Images/user-regularB.df1377b9.png')}});" href="/user/{{app.user.userIdentifier}}"></a>
            {% else %}
            <a id="userImage" class="userImage" style="background-image: url({{ asset('build/Images/user-regularB.df1377b9.png')}});" href="/login"></a>
            {% endif %}


        </div>

    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>


</div>

{% endblock %}