{# templates/payment/index.html.twig #}

{% extends 'editProductPage.html.twig' %}

{% block title %}Payment{% endblock %}

{% block stylesheets %}
    {{parent()}}    

{% endblock %}

{% block body %}

    {{form_start(form)}}
        <div class="row">
            <div class="row container" style="width: 44vw; margin-left: 25vw; background-color: #034f84;">
                <div class="column">
                    <div class="reverseColumn">
                        {{ form_widget(form.cardNumber, { 'attr': { 'class': 'form-control' } }) }}
                        <label>cardnumber</label>
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.expMonth)}}
                        <label>expMonth</label>
                    </div>
                    <div class="reverseColumn">
                        {{form_widget(form.expYear)}}
                        <label>expYear</label>
                    </div>
                    <div class="reverseColumn">
                        {{ form_widget(form.cvc, { 'attr': { 'class': 'form-control' } }) }}
                        <label>CVC</label>
                    </div>
                    <div class="reverseColumn">
                        {{ form_widget(form.submit, { 'attr': { 'class': 'btn-primary' } }) }}
                        <label>submit</label>
                    </div>
                </div>
                <div class="column">
                    <div class="reverseColumn">
                        {% for error in form.cardNumber.vars.errors %}
                            <div class="error">{{ error.message }}</div>
                            <label>cardnumber</label>
                        {% endfor %}
                    </div>
                    <div class="reverseColumn">
                    </div>
                    <div class="reverseColumn">
                    </div>
                    <div class="reverseColumn">
                    </div>
                    <div class="reverseColumn"> 
                    </div>
                </div>
            </div>
        </div>
            {{ form_end(form) }}

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
{% endblock %}
