
{% for product in products %}

    <div class="productCard relative rounded-2xl bg-semi-transparent-2 bg-no-repeat bg-center bg-cover mr-5 " 
    style="
    background-image: url({{asset(product.mainImage)}});"
    >
        <div class="priceContainer m-3">
            €{{product.price}}
        </div>

        <div class="productInfo absolute bottom-0 column w-full backdrop-blur-2xl p-3 opacity-0 transition-opacity hover:cursor-pointer">
            <a class="h-full" href="/product/{{product.id}}" >
                <h1 class="text-xl underline">{{product.model}}</h1>
                <p class="text-lg h-full"> {{product.description}}</p>
            </a>

            <a class="underline mt-3" href="/user/{{product.sellerusername.username}}">{{product.sellerusername.username}}</a>
            
        </div>
    </div>
{% endfor %}
{% if not hasMore %}
<div id="end-message" class="end-message">No more products available.</div>
{% endif %}

