{% extends 'bases/page_frame.html.twig' %}

{% block title %}
 {{username}} profile
{% endblock %}


{% block alerts %}
    {% if app.user.userIdentifier | lower == username | lower %}
    <div id="errorsBox" class="hidden">
        <div class="closeErrorsBtn">
            x
        </div>
        The product can't be deleted
    </div>

        <div class="column std-container centered bg-white shadow h-fit" id="alertBox1">
        <h1 class="text-3xl font-bold">Attention, this action is irreversible!</h1>
        <h3>Are you sure that you want to delete the selected item:</h3>
        <h3 id="itemToBeDeleted">Unknown</h3>

        <div class="row mt-3 justify-center" >
            <a class="aButton bg-red mr-10 w-32" id="buttonDelete2">Delete</a>
            <a class="aButton" id="noDelete">Don't delete</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row flex-wrap xl:p-10 p-2 pr-2 size-full  ">

    <div class="column std-container lg:w-3/12 w-full items-center lg:mr-10 xl:mb-0 mb-20 lg:h-full">
        <div id="profilePic" class="rounded-full generic-img bg-semitransparent xl:size-40 size-32" style="background-image: url({{asset('/build/images/user-regularB.df1377b9.png')}});">

        </div>
        <div class="text-3xl font-bold xl:my-5 my-2">
            {{username}}
        </div>


        <div id="rating" class="std-container column centered w-full lg:py-5 mb-3 h-[50vh]">
            <h1 class="text-2xl xl:mb-2">Ratings</h1>
                {% if products|length %}
                <h1 class="my-1">Averange</h1>
                <div class="row mb-3">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                </div>
                <h1 class="my-1">Individual ratings</h1>
                <div class="coloumn">
                    {% for i in range(1,5)%}
                    <div class="row mb-1">
                        <div class="mr-2">
                        0
                        </div>
                        {% for j in range(1,i) %}
                        <img src="/build/images/star-solid.86d1454e.png">
                        {% endfor %}
                    </div>
                    {% endfor%}
                </div>
                <a class="aButton p-1 mt-5">Read them!</a>
                {% else %}
                        {% if app.user.userIdentifier | lower == username | lower%}
                        <p>You have not sold anything</p>
                        <a class="aButton" href="/createproduct/">Start selling</a>
                        {% else %}
                        This User has not sold anything
                        {% endif %}
                {% endif %}



        </div>
        {% if app.user.userIdentifier | lower == username | lower %}
            <a class="aButton p-2 mb-2" href="/createproduct/">Add product</a>
            <a class="aButton bg-red p-2" href="/access/logout">Log out</a>

        {% endif %}
    </div>


    <div class="std-container lg:w-[70%] w-full lg:h-full h-[85vh]  lg:p-10 p-2">
        <div class="row gap-10">
            <div id="view_transactions" class="std-container h-fit mb-5 w-full centered hover:bg-semi-transparent-3 border-4 border-black">
                <h2 class="font-semibold xl:text-[1.8vw] text-xl mb-2">My products</h2>
            </div>
        </div>

        {% if products|length %}
        <div class="column overflow-y-scroll h-full lg:pr-2 pr-0">
                {% for product in products %}
                <div class="animation-disappear">
                    <div id="{{product.id}}" class="std-container row lg:h-52 h-fit mb-5  hover:bg-semi-transparent-3 transition-all w-full animation-appear" >
                        <div class="productContainer row flex-wrap w-full">
                            <div class="lg:size-44 size-36 rounded-md bg-cover bg-semitransparent mr-5" style="background-image: url({{product.mainImage}});"></div>
                            <div class="column xl:w-9/12 lg:w-7/12  w-full">
                                <h1 class="w-full text-2xl">{{product.Model}}</h1>
                                <div class="lg:h-full h-16 overflow-y-scroll">{{product.description}}</div>
                                <div class="row flex-wrap gap-2">
                                    <div class="priceContainer">€ {{product.price}}</div>
                                    <div class="priceContainer">In stock: {{product.quantity}}</div>
                                    <div class="priceContainer row"><img class="h-6 mr-1 w-7" src="/build/images/eye-regular.30a447c7.png"> {{product.views}}</div>
                                    <div class="priceContainer row"><img class="size-6 mr-1" src="/build/images/cart-shopping-solid.5de20d86.png"> {{product.itemsSold}}</div>
                                </div>
                            </div>
                        </div>


                    <div class="column w-16">
                    {% if ( app.user.userIdentifier | lower == username | lower ) %}
                        {% if product.itemsSold == 0 %}
                            <a  id="{{product.id}}" class="aButton bg-red deleteButton1 mb-7 " name="{{product.model}}">Delete</a>
                        {% endif %}
                    <a class="aButton h-fit w-24" href="/editproduct/{{product.id}}">Edit</a>

                    {% endif %}
                    </div>

                </div>
            </div>
                {% endfor %}
            </div>
                {% else %}
    <div class="centered column h-full" >
                        {% if app.user.userIdentifier | lower == username | lower %}
                        <p>Here, products sold by you will appear</p>
                        {% else %}
                        <p>Here, products sold by {{username}} will appear</p>
                        {% endif %}
                    </div>
                {% endif %}

        {% if orders|length %}
        <div class="column overflow-y-scroll h-full lg:pr-2 pr-0">
            {% for order in orders %}
                <div class="animation-disappear">
                    <div id="{{order.product.id}}" class="std-container row lg:h-52 h-fit mb-5  hover:bg-semi-transparent-3 transition-all w-full animation-appear" >
                        <div class="productContainer row flex-wrap w-full">
                            <div class="lg:size-44 size-36 rounded-md bg-cover bg-semitransparent mr-5" style="background-image: url({{order.product.mainImage}});"></div>
                            <div class="column xl:w-9/12 lg:w-7/12  w-full">
                                <h1 class="w-full text-2xl">{{order.product.Model}}</h1>
                                <div class="lg:h-full h-20 overflow-y-scroll">{{order.product.description}}</div>
                                <div class="row flex-wrap gap-2">
                                    <div class="priceContainer">€ {{order.product.price}}</div>
                                    <div class="priceContainer">In stock: {{order.product.quantity}}</div>
                                    <div class="priceContainer row"><img class="h-6 mr-1 w-7" src="/build/images/eye-regular.30a447c7.png"> {{order.product.views}}</div>
                                    <div class="priceContainer row"><img class="size-6 mr-1" src="/build/images/cart-shopping-solid.5de20d86.png"> {{order.product.itemsSold}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>


</div>

{% endblock %}