{% extends 'bases/page_frame.html.twig' %}

{% block title %}
 {{targetUser.username}} profile
{% endblock %}


{% block alerts %}
    {% if owner %}
    <div id="errorsBox" class="hidden">
        <div class="closeErrorsBtn">
            x
        </div>
        The product can't be deleted
    </div>

        <div class="column std-container centered bg-white shadow h-fit" id="alertBox1">
        <h1 class="text-3xl font-bold">Attention, this action is irreversible!</h1>
        <h3>Are you sure that you want to delete the selected item:</h3>
        <h3 id="itemToBeDeleted">Unknown</h3>

        <div class="row mt-3 justify-center" >
            <a class="aButton bg-red mr-10 w-32" id="buttonDelete2">Delete</a>
            <a class="aButton" id="noDelete">Don't delete</a>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row flex-wrap p-2 size-full lg:overflow-hidden  ">

    <div class="column std-container lg:w-3/12 w-full items-center lg:mr-10 lg:mb-0 mb-20 lg:h-full">
        <div id="profilePic" class="rounded-full generic-img bg-semitransparent xl:size-40 size-32" style="background-image: url({{asset('/build/images/user-regularB.df1377b9.png')}});">

        </div>
        <div class="text-3xl font-bold xl:my-5 my-2">
            {{targetUser.username}}
        </div>


        <div id="rating" class="std-container column centered w-full mb-3 h-[50vh]">
            <h1 class="text-2xl xl:mb-2">Ratings</h1>
                {% if targetUser.sellingProducts | length %}
                <h1 class="my-1">Averange</h1>
                <div class="row mb-3">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                    <img src="/build/images/star-regular.6a90c9dc.png">
                </div>
                <h1 class="my-1">Individual ratings</h1>
                <div class="coloumn">
                    {% for i in range(1,5)%}
                    <div class="row mb-1">
                        <div class="mr-2">
                        0
                        </div>
                        {% for j in range(1,i) %}
                        <img src="/build/images/star-solid.86d1454e.png">
                        {% endfor %}
                    </div>
                    {% endfor%}
                </div>
                <a class="aButton p-3 my-4">Read them!</a>
                {% elseif owner %}
                            <p>You have not sold anything</p>
                            <a class="aButton" href="/createproduct/">Start selling</a>
                {% else %}
                            This User has not sold anything
                {% endif %}



        </div>
        {% if owner %}
            <a class="aButton p-2 mb-2" href="/createproduct/">Add product</a>
            <a class="aButton bg-red p-2" href="/access/logout">Log out</a>
        {% endif %}
    </div>


    <div class="std-container lg:w-[70%] w-full lg:h-full h-[85vh] lg:px-5 px-2 py-2">

        
    {% if orders is defined and orders | length %}
        <div class="row gap-10">
            <label id="switchButton" for="switchCheckbox" class="std-container row w-full relative mb-2 py-2 font-bold">
                <div class="mx-auto z-10">All products</div>
                <div class="mx-auto z-10">
                    {% if owner %}
                        Transactions
                    {% else %}
                        You bought
                    {% endif %}
                </div>
                <input type="checkbox" id="switchCheckbox" class="hidden absolute">
                <div id="switchHiglight" class="absolute std-container top-0 w-1/2 h-full transition-all hover:bg-semi-transparent-3 z-0"></div>
            </label>
        </div>
    {% endif %}

        {% if targetUser.sellingProducts | length %}
        <div id="productsContainer" class="column overflow-y-scroll overflow-x-hidden lg:pr-2 pr-0
         {% if owner or orders is defined %}
            h-[90%]
         {% else %}
            h-full
         {% endif %} 
        ">
                {% for product in targetUser.sellingProducts %}
                <div class="animation-disappear mb-5">
                    <div  class="pl-2 std-container column h-fit hover:bg-semi-transparent-3 transition-all w-full animation-appear" >
                        <div id="{{product.id}}" class="row w-full">
                        <div class="productContainer row flex-wrap lg:w-full w-4/6">
                            <div class="lg:size-44 size-36 rounded-md bg-cover bg-semitransparent mr-5" style="background-image: url({{product.mainImage}});"></div>
                            <div class="column xl:w-9/12 lg:w-7/12 w-full">
                                <h1 class="w-full lg:text-2xl text:xl overflow-x-visible absolute font-semibold">{{product.Model}}</h1>
                                <div class=" lg:h-[17vh] h-[15vh] overflow-y-scroll lg:text-lg text-md mt-7">{{product.description}}</div>
                            </div>
                        </div>


                    {% if owner %}
                    <div class="column w-16 h-fit">
                        {% if product.itemsSold == 0 %}
                            <a  id="{{product.id}}" class="aButton bg-red deleteButton1 mb-7 " name="{{product.model}}">Delete</a>
                        {% endif %}
                    <a class="aButton h-fit w-24" href="/editproduct/{{product.id}}">Edit</a>
                    </div>
                    {% elseif orders is defined  %}
                    <div class="column h-fit w-2/12">
                        {% if product in reviews %}
                                <a class="aButton w-full">Edit review</a> 
                        {% elseif product in orders%}               
                            <a class="aButton w-full">Write a review</a> 
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="row flex-wrap gap-2 lg:text-md text-xs h-fit lg:mt-2 mt-5">
                    <div class="lg:h-10 h-7 priceContainer centered">€ {{product.price}}</div>
                    <div class="priceContainer row items-center"><img class="lg:size-6 size-4 mr-1" src="/build/images/boxes-stacked-solid.ede33cda.png"> {{product.quantity}}</div>
                    <div class="priceContainer row items-center"><img class="lg:h-6 h-4 mr-1 lg:w-7 w-5" src="/build/images/eye-regular.30a447c7.png"> {{product.views}}</div>
                    <div class="priceContainer row items-center"><img class="lg:size-6 size-4 mr-1" src="/build/images/cart-shopping-solid.5de20d86.png"> {{product.itemsSold}}</div>
                </div>

                </div>
            </div>
                {% endfor %}
            </div>
                {% else %}
            <div id="productsContainer" class="centered column h-full" >
                        {% if owner %}
                        <p>Here, products sold by you will appear</p>
                        {% else %}
                        <p>Here, products sold by {{targetUser.username}} will appear</p>
                        {% endif %}
                    </div>
                {% endif %}

        {% if orders is defined %}
        <div id="ordersContainer" class="column hidden overflow-y-scroll overflow-x-hidden lg:pr-2 pr-0
        {% if owner %}
           h-[90%]
        {% else %}
           h-full
        {% endif %} 
       ">
        
        {% if owner %}
        {% for transaction in orders %}
            <div class="animation-disappear">
               <div id="{{transaction.product.id}}" class="p-2 std-container row flex-wrap lg:h-60 h-fit mb-5 hover:bg-semi-transparent-3 transition-all w-full animation-appear gap-5 flex lg:justify-normal justify-center" >
                <div class="lg:size-48 size-36 rounded-md bg-cover bg-semitransparent mr-5" style="background-image: url({{transaction.product.mainImage}});"></div>

                    <div class="productContainer h-full w-5/12 column gap-2 flex lg:justify-normal justify-center mr-">
                        <div class="text-2xl lg:text-left text-center"> {{transaction.product.model}}</div>
                        <div class="row gap-3 h-10">
                            <div class="priceContainer h-full centered">€ {{transaction.product.price}}</div>
                            <div class="priceContainer h-full row centered"><img class="size-6 mr-1" src="/build/images/boxes-stacked-solid.ede33cda.png"> 1 </div>
                            <div class="priceContainer h-full centered"> {{transaction.purchaseDate}}</div>
                        </div>
                        <a href="/user/{{transaction.product.vendor.username}}" class="mt-auto underline w-full lg:text-left text-center">{{transaction.product.vendor.username}}<a>
                    </div>
                    <div class="flex lg:flex-col flex-row w-full gap-5">
                        {% if transaction.paymentStatus == "success" %}
                            <div class="aButton bg-green"> Successfull </div>
                            <div class="aButton w-full"> track</div>
                        {% else %}
                            <div class="aButton bg-red"> {{transaction.paymentStatus}}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        {% for transaction in orders %}
        <div class="animation-disappear mb-5">
            <div  class="pl-2 std-container column h-fit hover:bg-semi-transparent-3 transition-all w-full animation-appear" >
                <div id="{{transaction.id}}" class="row w-full">
                <div class="productContainer row flex-wrap lg:w-full w-4/6">
                    <div class="lg:size-44 size-36 rounded-md bg-cover bg-semitransparent mr-5" style="background-image: url({{transaction.mainImage}});"></div>
                    <div class="column xl:w-9/12 lg:w-7/12 w-full">
                        <h1 class="w-full lg:text-2xl text:xl overflow-x-visible absolute font-semibold">{{transaction.Model}}</h1>
                        <div class=" lg:h-[17vh] h-[15vh] overflow-y-scroll lg:text-lg text-md mt-7">{{transaction.description}}</div>
                    </div>
                </div>

            <div class="column h-fit">
                <a class="aButton w-full">Write a review</a>
            </div>

        </div>
        <div class="row flex-wrap gap-2 lg:text-md text-xs h-fit lg:mt-2 mt-5">
            <div class="lg:h-10 h-7 priceContainer centered">€ {{transaction.price}}</div>
            <div class="priceContainer row items-center"><img class="lg:size-6 size-4 mr-1" src="/build/images/boxes-stacked-solid.ede33cda.png"> {{transaction.quantity}}</div>
            <div class="priceContainer row items-center"><img class="lg:h-6 h-4 mr-1 lg:w-7 w-5" src="/build/images/eye-regular.30a447c7.png"> {{transaction.views}}</div>
            <div class="priceContainer row items-center"><img class="lg:size-6 size-4 mr-1" src="/build/images/cart-shopping-solid.5de20d86.png"> {{transaction.itemsSold}}</div>
        </div>

        </div>
    </div>
        {% endfor %}
            
        {% endif %}

        </div>
        {% endif%}

    </div>


</div>

{% endblock %}